/*** ALL ***/

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border-radius: 50%;
}

.navbar {
    width: 100%;
}

/* Background */
.background-bicolor {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom,
            #009688 0%,
            #009688 15%,
            #d9dbd3 15%,
            #d9dbd3 100%);
}

/* Colors */
:root {
    --beige: #eaeaea;
    --white: #ffffff;
    --lightblue: #8edafc;
    --lightgrey: #c2c5c5;
    --lightgreen: #d5f9ba;
}

/* Specials */
.active-contact {
    background-color: var(--lightgrey);
}

/* Sizes */
:root {
    /* --headers-height: 9vh;  */
    --headers-height: 5rem;
    /* --options-height: 13.7vh; */
    --options-height: 7.8rem;
    /* --footer-height: 9vh; */
    --footer-height: 5rem;
}


/********** MAIN - layout **********/

#container-main {
    padding-top: 7vh;    
}

.main {
    height: 86vh;
    overflow: scroll;

    background-color: var(--beige);
}

.contacts-header {
    border-right: 1px solid var(--lightgrey);
}

.main .contacts-header,
.main .messages-header {
    height: var(--headers-height);
}

.contacts-options {
    height: var(--options-height)
}

.contacts-main {
    height: calc(100% - var(--headers-height) - var(--options-height));
}

.contacts-header-favicons,
.messages-header-favicons {
    color: var(--lightgrey);
}

.notifications-bar {
    background-color: var(--lightblue);
}

.fa-bell-slash {
    background-color: var(--white);
    color: var(--lightblue);
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    line-height: 2.7rem;
    font-size: 1.3rem;
}

.contacts-list {
    background-color: var(--white);
    overflow: scroll;
}

.contacts-list li {
    border-bottom: 1px solid var(--lightgrey);
    cursor: pointer;
    /* height: calc(100% - var(--headers-height) - var(--options-height)); */
}

/***** MAIN *****/

.main .messages-main {
    height: calc(100% - var(--headers-height) - var(--footer-height));
    overflow: scroll;

    background-image: url(../img/mine.jpg);
}

/** Main - users **/

.notifications-bar p {
    margin: .5rem;
}

.search-bar {
    background-color: var(--beige);

    /* debug */
    /* border: 1px solid black; */
}

.fa-magnifying-glass {
    color: var(--lightgrey);
}

.input-group-text {
    background-color: var(--white);
}

.contact-avatar img {
    height: 2.5rem;
}


/** MAIN - messages **/

.messages-header .navbar {
    height: 100%;
}

.section-messages .messages-footer {
    height: var(--footer-height);

    /* debug */
    /* background-color: aquamarine; */
}

.message-bar {
    width: 80%;
}

/** MAIN - messages - main **/

.received {
    background-color: var(--white);
    width: 30%;
}

.sent {
    background-color: var(--lightgreen);
    align-self: flex-end;
    width: 30%;
    margin-right: 3rem;
}

.messages-main .time {
    font-size: .7rem;
    color: lightgray;
}

.messages-footer {
    background-color: var(--beige);
    border-left: 1px solid var(--lightgrey)
}

.messages-footer i {
    color: grey;
}