/*** ALL ***/

ul {
    list-style: none;
    margin: 0;
    padding-left: .5rem;
}

a {
    text-decoration: none;
}

img {
    border-radius: 50%;
}

.navbar {
    width: 100%;
}

/* Background */
.background-bicolor {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom,
            #009688 0%,
            #009688 15%,
            #d9dbd3 15%,
            #d9dbd3 100%);
}


/********** MAIN - layout **********/

#container-main {
    padding-top: 7vh;    
}

.main {
    height: 86vh;
    overflow: hidden;

    /* debug */
    border: 1px solid black;
    background-color: palevioletred;
}

.section-contacts,
.section-messages {
    padding: 0;

    /* debug */
    border: 2px solid grey;
}

.main .contacts-header,
.main .messages-header {
    height: 10%;
    

    /* debug */
    background-color: aquamarine;
}

.main .contacts-main {
    height: 90%;
    overflow: scroll;

    /* debug */
    background-color: aqua;
}

.main .messages-main {
    height: 80%;
    overflow: scroll;

    /* debug */
    background-color: aqua;
}

/***** MAIN *****/

/** Main - users **/

.notifications-bar {
    /* debug */
    border: 1px solid black;
}

.notifications-bar p {
    margin: .5rem;
}

.search-bar {
    /* debug */
    border: 1px solid black;
}

.contact-avatar img {
    height: 2.5rem;
}

.contacts-list li {
    /* debug */
    border: 1px solid black;
}


/** MAIN - messages **/

.section-messages > div {
    /* debug */
    border: 1px solid black;
}

.section-messages .messages-footer {
    height: 10%;

    /* debug */
    background-color: aquamarine;
}

.messages-header .navbar {
    height: 100%;
}

.message-bar {
    width: 80%;
}