<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="https://w1.pngwing.com/pngs/136/126/png-transparent-javascript-logo-angularjs-nodejs-computer-programming-web-development-computer-software-jquery-yellow-thumbnail.png">


    <!-- Fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
    <!-- MY CSS -->
        <link rel="stylesheet" href="./css/style.css">

    <!-- Vue JS -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- MY JS -->
        <!-- <script type="text/javascript" src="./js/script.js" defer></script> -->
</head>
<body>
    <div id="my-app" class="background-bicolor">

        <div class="container" id="container-main">
            
            <main class="main row row-2-cols">

                <section class="col-4 section-contacts p-0">
                    <div class="contacts-header d-flex">

                        <nav class="navbar">

                            <div class="container-fluid">
                                <a class="navbar-brand d-flex align-items-center" href="#">
                                    <img src="./img/avatar_io.jpg" alt="Logo" width="50" height="50"
                                    class="d-inline-block align-text-top">
                                    <p class="mb-0 ms-2">Sofia</p>
                                </a>

                                <ul class="d-flex mb-0 contacts-header-favicons">
                                    <li><a> 
                                        <i class="fa-solid fa-circle-notch mx-2"></i> 
                                    </a></li>
                                    <li><a> 
                                        <i class="fa-solid fa-message mx-2"></i> 
                                    </a></li>
                                    <li><a>
                                        <i class="fa-solid fa-ellipsis-vertical mx-2"></i>
                                    </a></li>
                                </ul>
                            </div>

                        </nav>

                    </div>

                    <div class="contacts-options">

                        <div class="notifications-bar d-flex">
                            <button class="btn">
                                <i class="fa-solid fa-bell-slash"></i>
                            </button>
                            <div>
                                <p>Ricevi notifiche di nuovi messaggi</p>
                                <p class="fw-lighter small text-decoration-underline">Attiva notifiche desktop</p>
                            </div>
                        </div>
                        
                        <div class="search-bar p-1">
                            <div class="input-group input-group-sm my-1">
                                <span class="input-group-text">
                                    <i class="fa-solid fa-magnifying-glass ms-1"></i>
                                </span>
                                <input type="text" class="form-control px-3 py-2 border-start-0" placeholder="Cerca o inizia una nuova chat"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        
                        </div>

                    </div>

                    <div class="contacts-main">
                        <nav>
                            <ul class="contacts-list ps-0">
                    
                                <li class="d-flex"
                                v-for="(contact, i) of contacts"
                                v-on:click="selectedContact(i)"
                                v-bind:class="(i == selected_index) ? 'open-chat' : '' ">

                                    <div class="contact-avatar align-self-center ms-2">
                                        <img :src=" './img/avatar' + contact.avatar + '.jpg' " alt="">
                                    </div>

                                    <div class="ms-2" >
                                        <p class="mb-0 mt-2"> {{ contact.name }} </p>
                                        <p class="mb-2 fw-lighter small">Ultimo messaggio inviato</p>
                                        <!-- se voglio stampare l'ultimo messaggio: {{ contact.messages[contact.messages.length -1].text }} 
                                        
                                        il meno uno è perchè se l'array è lungo 3, il suo indice sarà 2. se è vuoto però crasha tutto perchè non eisste l'indice -1-->

                                        <!-- quindi dico stampa questo codice solo se l'array dei contatti ha una lunghezza:
                                        vado sopra nel p e metto l'if
                                        v-if="contacts.messages.length" -->
                                    </div>

                                    <div class="ms-auto p-1 fw-lighter small">12:00</div>

                                </li>
                            
                            </ul>
                        </nav>
                    </div>
                </section>
                

                <section class="col-8 section-messages p-0">

                    <div class="messages-header">
                        <nav class="navbar p-0">
                        
                            <div class="container-fluid">
                                <a class="navbar-brand d-flex align-items-center"
                                href="#">

                                    <img :src=" './img/avatar' + contacts[selected_index].avatar + '.jpg' " alt="Logo" width="50" height="50">

                                    <div class="ms-3">
                                        <p class="mb-0"> {{ contacts[selected_index].name }} </p>
                                        <p class="fw-lighter small mb-0">Ultimo accesso oggi alle 12:00</p>
                                    </div>

                                </a>
                        
                                <ul class="d-flex messages-header-favicons mb-0">
                                    <li><a> <i class="fa-solid fa-magnifying-glass mx-2"></i> </a></li>
                                    <li><a> <i class="fa-solid fa-paperclip mx-2"></i> </a></li>
                                    <li><a> <i class="fa-solid fa-ellipsis-vertical mx-2"></i> </a></li>
                                </ul>
                            </div>
                        
                        </nav>
                    </div>

                    <div class="messages-main">

                        <div class="d-flex flex-column">
                            <div class="ms-5 my-2 rounded d-flex justify-content-between"
                            v-for="(message, index) in contacts[selected_index].messages"
                            v-bind:class="(message.status == 'received') ? 'received' : 'sent'">
                            <!-- qui potevo anche scrivere SOLO:
                            v-bind:class="message.status">
                            perchè la classe e lo status hanno lo stesso nome! -->
                            

                                <p class="mb-0 p-3"> {{ message.text }} </p>
                                <p class="time align-self-end mb-1 me-1">15:30</p>
                           
                            </div>
                        </div>

                    </div>

                    <div class="messages-footer d-flex justify-content-around align-items-center">
                        <div class="mx-2"> <i class="fa-regular fa-face-smile"></i> </div>
                        <div class="message-bar">

                            <div class="input-group">
    
                                <input 
                                @keyup.enter="sendMsg()"
                                v-model="new_msg.text"
                                type="text" 
                                class="form-control" 
                                placeholder="Scrivi un messaggio"
                                aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default">

                            </div>

                        </div>

                        <div class="mx-2"> <i class="fa-solid fa-microphone"></i> </div>
                    </div>

                </section>

            </main>
        </div>
    </div>


    <!-- MY JS -->
        <script type="text/javascript" src="./js/script.js"></script>
    <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>